
{% extends 'plantApp/base.html' %}
{% load static %}

{% block content %}




        
        
        <!-- Banner Section -->
        <section class="banner-section banner-one">
            <div class="banner-carousel owl-theme owl-carousel">
                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url({% static "images/logos/1.jpg" %});"></div>
                    <div class="left-top-line"></div>
                    <div class="right-bottom-curve"></div>
                    <div class="right-top-curve"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <div class="sub-title">welcome to our</div>
                                    <h1>Plant Disease <br>Identification</h1>
                                    <div class="link-box">
                                        <a class="theme-btn btn-style-one" href="{% url 'plantApp:upload' %}">
                                            <i class="btn-curve"></i>
                                            <span class="btn-title">Discover More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url({% static "images/logos/3.jpg" %});"></div>
                    <div class="left-top-line"></div>
                    <div class="right-bottom-curve"></div>
                    <div class="right-top-curve"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <div class="sub-title">welcome to our</div>
                                    <h1>Plant Disease <br>Identification</h1>
                                    <div class="link-box">
                                        <a class="theme-btn btn-style-one" href="{% url 'plantApp:upload' %}">
                                            <i class="btn-curve"></i>
                                            <span class="btn-title">Discover More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Slide Item -->
                
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url({% static "images/logos/2.jpg" %});"></div>
                    <div class="left-top-line"></div>
                    <div class="right-bottom-curve"></div>
                    <div class="right-top-curve"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <div class="sub-title">welcome to our</div>
                                    <h1>Plant Disease <br>Identification</h1>
                                    <div class="link-box">
                                        <a class="theme-btn btn-style-one" href="{% url 'plantApp:upload' %}">
                                            <i class="btn-curve"></i>
                                            <span class="btn-title">Discover More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Slide Item -->
                <div class="slide-item">
                    <div class="image-layer" style="background-image: url({% static "images/logos/5.jpg" %});"></div>
                    <div class="left-top-line"></div>
                    <div class="right-bottom-curve"></div>
                    <div class="right-top-curve"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <div class="content">
                                <div class="inner">
                                    <div class="sub-title">welcome to our</div>
                                    <h1>Plant Disease <br>Identification</h1>
                                    <div class="link-box">
                                        <a class="theme-btn btn-style-one" href="{% url 'plantApp:upload' %}">
                                            <i class="btn-curve"></i>
                                            <span class="btn-title">Discover More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--End Banner Section -->

        <!-- Main Footer -->
        <footer class="main-footer main-footer__two" style="background-image: url({% static "images/background/footer-bg-2.jpg" %});">
            <div class="auto-container">
                <div class="footer-widget text-center">
                    <!--<h3>Let’s Start Working
                        Together
                    </h3>
                    <p><a href="tel:666-888-000">666 888 000</a>
                        <a href="mailto:needhelp@linoor.com">needhelp@linoor.com</a>
                        <span>66 Broklyn Street, New
                            York</span></p>-->
                    <ul class="social-links clearfix">
                        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                    </ul>
                </div><!-- /.footer-widget -->
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="copyright">&copy; copyright 2021. All rights reserved.</div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->

    <!--<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>-->



   {% endblock %}